/* dark mode */

body.darkmode {
    background: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
}

.btn1 {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(227, 227, 227);
    color: rgb(57, 57, 57);
    text-align: center;
    border-radius: 1000px;
    list-style-type: none;
    margin-right: 50px;
    padding: 10;
    margin-top: 10px;

}

.btn2 {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
    text-align: center;
    border-radius: 100px;
    list-style-type: none;
    margin-right: 50px;
    padding: 10;
    margin-top: 10px;
}
